-- RE-ADDING MISSING SUPPORT TABLES
CREATE TABLE IF NOT EXISTS public.prescription_templates (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  doctor_id uuid NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
  diagnosis text,
  medications jsonb NOT NULL DEFAULT '[]',
  advice text,
  template_name text,
  created_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.medical_certificates (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  doctor_id uuid NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
  patient_id uuid NOT NULL REFERENCES public.patients(id) ON DELETE CASCADE,
  type text NOT NULL,
  start_date date,
  end_date date,
  remarks text,
  issued_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.suppliers (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  pharmacy_id uuid NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
  name text NOT NULL,
  contact text,
  email text,
  gstin text,
  balance numeric DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.expenses (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  pharmacy_id uuid NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
  category text NOT NULL,
  amount numeric NOT NULL,
  description text,
  date date DEFAULT current_date,
  created_at timestamptz DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.sales_returns (
  id uuid PRIMARY KEY DEFAULT uuid_generate_v4(),
  pharmacy_id uuid NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
  original_invoice_id uuid REFERENCES public.sales(id),
  items jsonb NOT NULL,
  refund_amount numeric NOT NULL,
  reason text,
  date timestamptz DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.prescription_templates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.medical_certificates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.suppliers ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.expenses ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.sales_returns ENABLE ROW LEVEL SECURITY;

-- Policies
CREATE POLICY \
Doctor
manage
templates\ ON public.prescription_templates FOR ALL USING (doctor_id = auth.uid());
CREATE POLICY \Doctor
manage
certs\ ON public.medical_certificates FOR ALL USING (doctor_id = auth.uid());
CREATE POLICY \Pharmacy
manage
suppliers\ ON public.suppliers FOR ALL USING (pharmacy_id = auth.uid());
CREATE POLICY \Pharmacy
manage
expenses\ ON public.expenses FOR ALL USING (pharmacy_id = auth.uid());
CREATE POLICY \Pharmacy
manage
returns\ ON public.sales_returns FOR ALL USING (pharmacy_id = auth.uid());

